* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
  font-family: cursive;
  background-color: darkblue;
}
.game {
  margin-top: -100px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}
h1 {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.score {
  display: flex;
  margin-top: 2rem;
  align-items: center;
  justify-content: center;
  gap: 100px;
}
.p-count,
.c-count {
  text-align: center;
  font-size: 1.5rem;
  margin-top: 1rem;
}
.options {
  display: flex;
  justify-content: space-evenly;
  width: 50vw;
  margin-top: 3rem;
}
img {
  height: 130px;
  cursor: pointer;
}
.move {
  font-weight: bolder;
}
.result {
  margin-top: 20px;
  font-size: 1.2rem;
}
button {
  border: none;
  margin-top: 50px;
  width: 100%;
  font-size: 18px;
  padding: 15px 30px;
  background-color: white;
  color: black;
  cursor: pointer;
}
